{% load cms_tags sekizai_tags %}{% load cms_tags %}{% load cache menu_tags %}{% load menu_tags %}{% load newstags %}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="{{ request.LANGUAGE_CODE }}" xml:lang="{{ request.LANGUAGE_CODE }}">
<head>
    <title>{% page_attribute page_title %} - GolfDoksy.cz - {% now "Y" %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-language" content="{{ request.LANGUAGE_CODE }}" />
    <meta name="description" content="{% page_attribute meta_description %}" />
    <meta name="keywords" content="{% page_attribute meta_keywords %}" />
    <meta name="copyright" content="stereoIT s.r.o." />
    <meta name="author" content="CodeScale s.r.o., stereoIT s.r.o." />
    <meta name="google-site-verification" content="lyBJpncDwcKsn7Yvn9AbB-UzZKKKclDlTp3_JVHxDwQ" />
    {% block robots %}
        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow, snippet, archive" />
    {% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Cabin+Condensed|Spinnaker' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" media="projection, screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/golfdoksy.css" media="projection, screen" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    {% render_block "css" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollTo-1.4.2-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.localscroll-1.2.7-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/golfdoksy.js"></script>
    {% comment %} 
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.1.js"></script>
       {% plugins_media %}{% endcomment %}
</head>

<body>
<div id="page">

  {% block top %}
    <span id="home"></span>
    <div id="top">
        <span><a href="#home" id="logo" class="golfer1">GolfDoksy.cz</a></span>
        <ul id="menu">
          <li><a href="#aktuality">Aktuality</a></li>
          <li><a href="#hriste">Hřiště</a></li>
          <li><a href="#klub">Klub</a></li>
          <li><a href="#cenik">Ceník</a></li>
          <li><a href="#galerie">Fotogalerie</a></li>
          <li><a href="#partneri">Partneři</a></li>
          <li><a href="#kontakt">Kontakt</a></li>
        </ul>
        <span id="marker"></span>
    </div>
    <div id="announcement" style="background-image: url('{% announcement_background %}');">
      <div id="description"><div id="intro">{% placeholder intro_left %}</div></div>
      <div id="description_right" >{% placeholder intro_right %}</div>
    </div>
  {% endblock %}

  {% block base_content %}{% endblock %}

  {% block footer %}
    <!-- sekce paticky -->
    <div id="footer">
      <div id="sitemap">
        <div id="copyright">
            <p> Copyright &copy; 2010 - {% now "Y" %} GolfDoksy o.s. </p>
        </div><!-- div.column-5 -->
        <div class="clear"></div>
      </div> <!-- div#sitemap -->
    </div><!-- div#footer -->
  {% endblock %}

</div>
{% render_block "js" %}
</body>
</html>
