{% extends "base.html" %}
{% load cms_tags %}
{% load newstags %}
{% load partnertags %}

{% block top %}
    <div id="top">
        <span><a href="/" id="logo" class="golfer1">GolfDoksy.cz</a></span>
        <ul id="menu">
          <li><a href="/">Návrat na hlavní stránku</a></li>
        </ul>
        <span id="marker"></span>
    </div>
{% endblock %}

{% block base_content %}
      <div id="clean_content">
      {% placeholder obsah %}
      {% block content %}
      {% endblock %}
      </div>
{% endblock %}
