{% extends "base.html" %}
{% load cms_tags %}
{% load newstags %}
{% load partnertags %}

{% block base_content %}
    <div id="wrapper">
      <div class="article" id="aktuality">
        <header>
        <h1>Aktuality</h1>
        <p>Novinky a zprávy ze sociálních sítí</p>
        </header>
        <div class="content">
          <div id="news_tag">{% news_tag 6 %}</div>
          <div class="clear"></div>
          <a href="aktuality/" >všechny novinky</a>
        </div>
      </div class="article">
      <div class="article" id="hriste">
        <header>
        <h1>Hřiště</h1>
        <p>Popis a možnosti našich hřišť (popis, obtížnost, lokalita)</p>
        <p class="back"><a href="#home">zpět</a></p>
        </header>
        <div class="content">
          {% placeholder hriste %}
        </div>
      </div class="article">
      <div class="article" id="klub">
        <header>
        <h1>Klub</h1>
        <p>Vše podstatné o našem klubu a členství (o nás, historie)</p>
        <p class="back"><a href="#home">zpět</a></p>
        </header>
        <div class="content">
          {% placeholder klub %}
        </div>
      </div class="article">
      <div class="article" id="cenik">
        <header>
        <h1>Ceník</h1>
        <p>Vstup, driving range, akademie</p>
        <p class="back"><a href="#home">zpět</a></p>
        </header>
        <div class="content">
          <div id="cenik_tag">{% placeholder cenik %}</div>
        </div>
      </div class="article">
      <div class="article" id="galerie">
        <header>
        <h1>Fotogalerie</h1>
        <p>Život s Golf Club Doksy, obrazem</p>
        <p class="back"><a href="#home">zpět</a></p>
        </header>
        <div class="content">
          <div id=gallery_tag">{% gallery_tag 6 %}</div>
          <a href="galerie/" >Archív kompletní fotogalerie</a>
        </div>
      </div class="article">
      <div class="article" id="partneri">
        <header>
        <h1>Partneři</h1>
        <p>Bez nich by to ani nešlo</p>
        <p class="back"><a href="#home">zpět</a></p>
        </header>
        <div class="content">
          {% placeholder partneri %}
          <div class="partner">
          <table>
          {% partners_tag %}
          </table>
          </div>
        </div>
      </div class="article">
      <div class="article" id="kontakt">
        <header>
        <h1>Kontakt</h1>
        <p>email, mobil, odkazy</p>
        <p class="back"><a href="#home">zpět</a></p>
        </header>
        <div>
          <div id="opening_hours">{% placeholder oteviraci_doba %}</div>
        <div style="float:left;" class="two-column">
          <h2>Napište nám</h2>
          {% placeholder kontakt_formular %}
        </div>
        <div style="float:left" class="two-column">
          {% placeholder kontakt_mapa %}
        </div>
        <div style="clear: both;"></div> 
        </div>
        <div id="contacts">
        <div class="column column-1">
                <h4>Adresa</h4>
                <p>
                    GolfDoksy o.s.<br />
                    Sport Areál Termit<br />
                    472 01 Doksy<br />
                    Česká Republika<br /><br />
                </p>
            </div><!-- div.column-1 -->
            <div class="column column-2">
                <h4>Kontakty</h4>
                <p>
                +420 773 885 311<br />
                +421 948 023 011<br />
                <a href="mailto:info@golfdoksy.cz">info@golfdoksy.cz</a><br />
                <a href="http://www.golfdoksy.cz/">www.golfdoksy.cz</a>
                </p>
            </div><!-- div.column-2 -->
            <div class="column column-3">
                <h4>Sociální sítě</h4>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="https://twitter.com/GolfDoksy">Twitter</a></li>
                    <li><a href="https://plus.google.com/107638889229358237813">Google+</a></li>
                </ul>
            </div><!-- div.column-3 -->
            <div class="column column-3">
                <h4>Lidé</h4>
                <ul>
                    <li><a href="mailto:martin.kuzel@golfdoksy.cz">Martin Kužel</a></li>
                    <li><a href="mailto:zdenek.krenicky@golfdoksy.cz">Zdeněk Krenický</a></li>
                    <li><a href="mailto:jiri.pokorny@golfdoksy.cz">Jiří Pokorný</a></li>
                    <li><a href="mailto:robert.smol@golfdoksy.cz">Robert Šmol</a></li>
                </ul>
            </div><!-- div.column-3 -->
        </div><!-- div.contacts -->
      </div class="article">

    </div>
{% endblock %}
