{% load cms_tags sekizai_tags %}{% load cms_tags %}{% load cache menu_tags %}{% load menu_tags %}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="{{ request.LANGUAGE_CODE }}" xml:lang="{{ request.LANGUAGE_CODE }}">
<head>
    <title>{% page_attribute page_title %} - GolfDoksy.cz - {% now "Y" %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-language" content="{{ request.LANGUAGE_CODE }}" />
    <meta name="description" content="{% page_attribute meta_description %}" />
    <meta name="keywords" content="{% page_attribute meta_keywords %}" />
    <meta name="copyright" content="stereoIT s.r.o." />
    <meta name="author" content="CodeScale s.r.o., stereoIT s.r.o." />
    <meta name="google-site-verification" content="lyBJpncDwcKsn7Yvn9AbB-UzZKKKclDlTp3_JVHxDwQ" />
    {% block robots %}
        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow, snippet, archive" />
    {% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Cabin+Condensed|Spinnaker' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" media="projection, screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/golfdoksy.css" media="projection, screen" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    {% render_block "css" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollTo-1.4.2-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.localscroll-1.2.7-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/golfdoksy.js"></script>
    {% comment %} 
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.1.js"></script>
       {% plugins_media %}{% endcomment %}
</head>

<body>
{% comment %}
{% show_menu %}
{% show_menu_below_id %}
{% show_sub_menu %}
{% show_breadcrumb %}
{% endcomment %}
{% block base_content %} Nothing {% endblock %}
{% render_block "js" %}
</body>
</html>
