/* GENERAL LAYOUT */
body { background: white repeat-x; color: rgb(68, 68, 68); font-size: 13px; font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0; }
strong { font-weight: bold; }
a { color: #769B49; text-decoration: none;font-weight:bold; outline: 0; }
a:hover { color: #457319; text-decoration: underline; }
h1, h2, h3, h4 { font-weight: bold; margin: 0.5em 0; }
h2, h3, h4 { color: #457319; }
h1 {
    color: #333333;
    display: inline;
    font-size: 36px;
}

h2 {
    font-size: 22px; 
}

h3 {
    font-size: 18px; 
}

#page { padding-top: 1px; }

#top {
    background: url('../img/top-menu-background.png') repeat-x 0 0;
    border-bottom: 1px solid #222222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    height: 45px;
    position: fixed;
    top: -1px;
    width: 100%;
    z-index: 10;
}

#top a { color: white}
#top span {
    color: white;
    font-family: 'Cabin Condensed', sans-seif;
    font-size: 24px;
}
.golfer1 { background: url(../img/golf-sprite.png); font-weight: normal;background-position: 0px 0px; width: 200px;height: 32px; float: left;}
#top span a { padding-left: 1em;}
#top span a:hover { text-decoration: none;}

#wrapper { 
        background: none repeat scroll 0 0 white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        position: relative;
        margin-top: 400px;
        width: 100%;
}

#footer { 
        width: 100%; 
        margin: 0px auto; 
        background: url(../img/footer.png) no-repeat center bottom; 
        background-color: #fff;
        text-align: left; 
        height: 140px; 
        position:relative;
}

#announcement {
        background: url("../img/announcement-background.jpg") no-repeat scroll center top;
        height: 500px;
        position: fixed;
        top: 35px;
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        color: white;
}

#announcementclear {
        position: fixed;
        top: 35px;
        width: 100%;
}

#clean_content { 
    width: 900px; 
    margin: 6em auto;
}
#clean_content p { font-size: 14px; margin: 0.5em; }
#clean_content .news { margin: 1.5em auto 0.5em 0.5em; width: 80%; border-bottom: 1px solid transparent; padding-bottom: 1em;}
#clean_content .news:hover {  border-bottom: 1px dashed #DDDDDD;}
#clean_content .news .title { font-size: 16px; color: #769B49; font-weight: bold; margin: 0.3em auto;}
#clean_content .news .subtitle { font-size: 12px; color: rgb(100, 100, 100); font-style: italic; margin: 0.5em 0;}
#clean_content .news .message { font-size: 14px; color: #444444;}


#stanovy { width: 90%; margin: auto;}
#stanovy p { margin: 1em; text-align:justify;}
#stanovy ul {list-style-type:circle; margin-left: 3em; font-size: 14px}

#servererror { 
        width: 900px;
        margin: 5em auto;
}
h1.statuscodes { text-align: center; font-size: 3em; color:#303030 }

.two-column {
    width: 450px;
}

.transparent {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.rounded {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#description {
     height: 450px;
     position: absolute;
     right: 50%;
     top: 30px;
     width: 450px;
     text-align: center;
}
#description_right {
     height: 450px;
     position: absolute;
     left: 50%;
     top: 30px;
     width: 450px;
}
#intro {
    /* background: #FCFCDC; */
    width: 300px;
    margin: 50px auto;
    padding: 1em;
    color: #e9b96e;
    font-size: 36px;
    font-style: italic;
}

#intro em { font-style: italic; font-size: 48px }

div.article {
    margin: 1.5em auto;
    padding: 1.5em 0;
    width: 900px;
    font-size: 14px;
}
div.article:after {
    clear: both;
    content: " ";
    display: block;
}
div.article div.header {
    margin: 0 0 20px;
}
div.article div.header p {
    color: #769B49;
    display: inline;
    font-size: 17px;
    font-style: italic;
    padding: 0 10px;
}

div.article h2 { margin: 0.5em 0;}
div.article div.header p.back a { float:right; margin-top:1em;}
div.article .content { padding-left: 1.5em;}
div.golf { padding: 1em 0;}

div.article#kontakt { margin-bottom: 0;}
div.golf_table table { width: 90%; margin: 2em auto 2em 0; border-collapse: collapse; text-align:center; font-size: 12px;}
div.golf_table table th { font-size: 14px; font-weight: bold; color: #646464; border-bottom: 2px solid #769B49; padding: 10px 8px;}
div.golf_table table th:first-child { text-align:left;}
div.golf_table table td { color: #646464; padding: 9px 8px 4px; border-bottom: 1px solid #DDDDDD;}
div.golf_table table td:first-child { text-align:left;}
div.golf_table table tbody tr:hover { background-color: #FCFCDC;}

#opening_hours { margin: 1em 0;}

#aktuality {
    margin-top: 0;
}

#news_tag { display: block; }
#aktuality div.news { width: 30%; float: left; margin: 0.5em;}

#aktuality div.news div.title { font-weight:bold;font-size: 14px; margin-right: 2em; margin-bottom: 0.3em; }
#aktuality div.news .date_label { font-style:italic; font-size: 11px }
#aktuality div.news span { font-style:italic; font-size: 11px }
#aktuality div.news div.message { font-size: 12px; margin: 0.5em 0 }

#menu {
    margin-right: -450px;
    position: absolute;
    right: 50%;
    top: 0;
}
#menu li {
    display: inline;
}
#menu a {
    -moz-transition: all 200ms ease-in-out 0s;
    font-size: 14px;
    color: #999999;
    display: inline-block;
    line-height: 46px;
    padding: 0 0.6em;
    text-decoration: none;
}
#menu a:hover { color: rgb(248,248,248)}
ol, ul {
    list-style: none outside none;
}
#logo {
    left: 50%;
    margin-left: -450px;
    position: absolute;
    top: 8px;
}

div.partner { margin: 1em 0; }
div.partner .name { font-weight: bold; font-size: 15px }
div.partner .logo { width: 250px; height: 100px; vertical-align: middle; text-align: center;}
div.partner .description { font-style: italic; vertical-align: middle }

div#gallery_tag { margin-bottom: 2em; }

div#galleries { margin-top: 2em; }

div.gallery { float:left; width: 290px; height: 190px; text-align:center;}
div.gallery a { display: block; width: 220px; padding-left:35px;}
div.gallery a img { margin: auto;border: solid 1px #DDD; padding: 5px;}
div.gallery a:hover img { margin: auto;border: solid 1px rgb(246, 248, 240); box-shadow: 1px 1px 5px #999; -webkit-transition:all .2s ease-in;}
div.gallery a strong { margin: auto; }
div.gallery span { display: block; margin: auto; font-size: 11px; color: #555753;}

/* detailni stranka galerie */
div#gallery_detail a { margin: 0.5em;}
div#gallery_detail a img { margin: auto;border: solid 1px #DDD; padding: 5px;}
div#gallery_detail a:hover img { margin: auto;border: solid 1px rgb(246, 248, 240); box-shadow: 1px 1px 5px #999; -webkit-transition:all .2s ease-in;}

.clear { clear: both; }
.right { text-align: right }
.left { text-align: left }
.center { text-align: center }
#sitemap { width: 1000px; margin: 0px auto; position: relative;}

/* Contacts */
#contacts { width: 900px; margin: 0px auto; position: relative;}
.column { display: block; height: 170px; float: left; margin-right: 1em; color: rgb(100, 100, 100); margin-top: 36px; line-height: 18px; }
.column-1 { width: 23%; }
.column-2 { width: 23%; }
.column-3 { width: 23%; }
.column-4 { width: 126px; visibility:hidden; }
.column-5 { width: 306px; padding: 0;  }
.column-5-top { height: 95px; display: block; }
.column h4 { color: #457319; font-size: 1.5em; margin: 1em 0; }

/* Sitemap */
#sitemap div h4 { font-weight: bold; color: rgb(190, 215, 89); font-size: 12px; margin: 0 0 20px; padding: 0; text-transform: uppercase;
}
#sitemap div a { color: rgb(120, 120, 120); text-decoration: none; font-weight: bold; }
#sitemap div p { padding: 0; margin: 0; }
#sitemap div a:hover { color: rgb(48, 48, 48); text-decoration: underline; }
#sitemap div ul { padding: 0; margin: 0; }
#sitemap div ul li { list-style: none; margin: 0; padding: 0; }
.djangocms { display: block; height: 61px; width: 306px; text-indent: 310px; oveflow: hidden; background: url(/media/img/djangocms.png) no-repeat right; }
div#copyright { color: rgb(117, 117, 117); text-align: right; position: absolute; right: 0px; top: 100px; height: 1.5em;margin: 0; }

/* CONTENT */
#contact_form label span { font-style:italic; font-weight:normal; color:#D64000 }
#contact_form #id_sender, #id_phone { width: 404px; height: 38px; border: 1px solid rgb(179, 179, 179); border-radius: 4px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #646464; text-indent: 7px; margin-bottom: 15px; }
#contact_form #id_sender:focus, #id_phone:focus { border-color: #646464; background-color: white; }
#contact_form #id_message { display: block; width: 390px; height: 170px; border: 1px solid rgb(179, 179, 179); border-radius: 4px; font-size: 14px; color: #646464; font-family: Arial, Helvetica, sans-serif; padding: 7px; background-color: white; }
#contact_form #id_message:focus { border-color: black; }
#contact_form #id_cc_myself { margin-top: 15px; }
#contact_form #input-messagecopy { font-weight: normal; font-size: 13px; display: inline; }
#contact_form #input-send { display: block; width: 133px; height: 41px;  cursor: pointer; border-style: none; color: white; font-size: 18px; text-align: center; font-weight: bold; margin-top: 35px; float: right; margin-right: 92px; background-color: #769B49; }
#contact_form #input-send:hover { background-position: -133px; }
.sidebar-contact-left { width: 121px; float: left; }
.sidebar-contact-right { float: left; width: 120px; font-size: 13px; text-align: right }
.sidebar-contact-left strong { font-size: 13px; font-weight: bold; }
.sidebar-contact-left a, .sidebar-contact-right a { font-weight: bold; text-decoration: none; color: rgb(73, 112, 175); }
.phone-numbe { font-weight: bold; font-size: 18px; color: rgb(79, 83, 63); }
a.email-addess { color: rgb(73, 112, 175); font-weight: bold; text-decoration: none; display: block; margin-top: 5px; margin-bottom: 30px; width: 150px; }
a.email-addess:hover { color: black; text-decoration: underline; }
.services-paagaph { margin-top: 15px; }
.services-sepaato { height: 15px; }

/* socilabar */


#marker {
    -moz-transition: all 200ms ease-in-out 0s;
    background: url("../img/marker.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 18px;
    position: absolute;
    top: 43px;
    width: 32px;
